@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(./font/Orbitron-ExtraBold.ttf) format('truetype'),
    url(../font/Orbitron-Regular.ttf) format('truetype');
 }

 @font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-display: swap;
    src: url(./font/Audiowide-Regular.ttf) format('truetype');
 }

 @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-display: swap;
    src: url(./font/SpaceGrotesk-Regular.ttf) format('truetype');
 }


@media (prefers-color-scheme: light) {
    :root {
        --color-bombay-white: #b1b5bb;
        --color-shark-black: #212428;
        --color-trout-grey: #4e5560;
        --color-scarpa-purple: #5c5460;
    }
}

body {
    font-family: "Space Grotesk", Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.orbitron-extrabold {
    font-family: "Orbitron", Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.orbitron-regular {
    font-family: "Orbitron", Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.audiowide-regular {
  font-family: "Audiowide", Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section {
    background-color: #14161a;
}

.hero.is-primary {
    background-color: #14161a;
}

.black-bg {
    background-color: #14161a;
}

.header-hero {
    background-image: url("images/mountains.jpg");
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
}

.navbar-link, a.navbar-item.is-active {
    background-color: #4e5560;
    color: #b1b5bb;
}

.navbar-link, a.navbar-item:hover {
    background-color: #212428;
    color: #b1b5bb;
}

.purple-bg {
    background-color: #5c5460;
}

.alt-black {
    background-color: #212428;
}

.service-section {
    padding: 0 !important;
}

.service-grid {
    margin-bottom:0 !important;
    --bulma-grid-gap: 0 !important;
    column-gap:0;
    gap:0;
}

.cell.service-block {
    height:500px;
    margin-bottom:0;
}

.cell.service-block .level-item {
    flex-shrink:unset !important;
}

.grs-section {
    background-color: #5c6b28;
}

.footer-hero {
    background-image: url("images/mountains2.jpg");
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #b1b5bb;
    }

    .service-block:nth-child(4n),
    .service-block:nth-of-type(4n+1) {
        background-color:#212428;
    }

    .service-block:nth-child(4n+3),
    .service-block:nth-child(4n+2) {
        background-color:#14161a;
    }

    .service-grid.grid.is-col-min-9 {
        --bulma-grid-column-min: 33rem;
    }
}

@media only screen and (max-width: 600px) {
    .service-grid.grid.is-col-min-9 {
        --bulma-grid-column-min: 13.5rem;
    }
}