@media (prefers-color-scheme: light) {
    :root {
        --color-bombay-white: #b1b5bb;
        --color-shark-black: #212428;
        --color-trout-grey: #4e5560;
        --color-scarpa-purple: #5c5460;

        
    }
}

.section {
    background-color: #14161a;
}

.hero.is-primary {
    background-color: #14161a;
}

.header-hero {
    background-image: url("images/mountains.jpg");
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
}

.navbar-link, a.navbar-item.is-active {
    background-color: #4e5560;
    color: #b1b5bb;
}

.navbar-link, a.navbar-item:hover {
    background-color: #212428;
    color: #b1b5bb;
}

.purple-bg {
    background-color: #5c5460;
}

.alt-black {
    background-color: #212428;
}

.service-section {
    padding: 0 !important;
}

.service-grid {
    margin-bottom:0 !important;
    --bulma-grid-gap: 0 !important;
    column-gap:0;
    gap:0;
}

.cell.service-block {
    height:450px;
    margin-bottom:0;
}

.cell.service-block .level-item {
    flex-shrink:unset !important;
}

.grs-section {
    background-color: #5c6b28;
}

.footer-hero {
    background-image: url("images/mountains2.jpg");
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #b1b5bb;
    }
}